#
# emacs backups and temp files
#
\#*
*~

#
# monotouch artigacts
#
bin
*.userprefs
*.pidb
*.csproj.test-cache

#
# dreamweaver/photoshop
#
.DS_Store
Thumbs.db

#
# packaging
#
Payload
ace-relayphone.ipa
